html {
    font-family: Arial;
    font-size: 1em;
    line-height: 1.5;
}

head {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 0.75);
    background-color: #002b5c;
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

div {
    display: block;
}

#sidebar {
    padding: 3em 2em 3em 2em;
    text-align: center;
    flex: 0 0 auto;
}

header {
    display: block;
}

* {
    box-sizing: border-box;
}

.site-title {
    text-align: center;
    font-size: 2.6em;
    color: white;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    text-rendering: optimizeLegibility;
}

#profile-photo {
    width: 60%;
    height: 60%;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
    align-self: center;
    border: none;
}

#research-interests {
    margin-top: 0;
    text-align: center;
    font-size: 1.2em;
}

nav {
    display: flex;
}

#nav-links {
    flex-flow: column nowrap;
}

#sidebar a {
    color: white;
}

#sidebar a.active {
    font-weight: bold;
}

#sidebar nav > * {
    display: block;
    line-height: 1.75;
}

a {
    text-decoration: none;
}

a:-webkit-any {
    cursor: pointer;
}

a.category-link, a.page-link, a.home-link {
    font-size: 1.2em;
}

#media-handles {
    max-width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 1em;
}

#media-handles .icon {
    font-size: 1.5em;
    color: #bbb;
    margin: 0 0.25em;
    display: inline-block
}

.icon {
    vertical-align: middle;
}

p {
    text-align: justify;
}

.content-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.content-container > .main-content {
    flex-grow: 1;
    padding-top: 4em;
}

.main-content {
    background: #fff;
    color: #515151;
    padding: 3em;
}



/* This is the new CSS for smaller screens (smartphones) */

@media only screen and (max-width: 400px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .left_pane {
        width: 100%;
        padding: 2em;
        height: 100vh;
        box-sizing: border-box;
    }

    .right_pane {
        width: 100%;
        padding: 2em;
    }

    h1 {
        font-size: 2.5em;
    }

    #profile-photo {
        width: 60%;
        height: 60%;
    }

    #title {
        font-size: 18px;
    }

    #vertical-nav ul {
        padding: 0;
        margin-top: 0;
    }

    #vertical-nav ul li {
        font-size: 1.3em;
        text-align: center;
    }

    #social-meddia-handles a {
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .left_pane {
        width: 100%;
        padding: 2em;
        height: 100vh;
        box-sizing: border-box;
    }

    .right_pane {
        width: 100%;
        padding: 2em;
    }

    h1 {
        font-size: 2.5em;
    }

    #profile-photo {
        width: 50%;
        height: 50%;
    }

    #title {
        font-size: 18px;
    }

    a.category-link, a.page-link, a.home-link {
        font-size: 1.2em;
    }

    #social-meddia-handles a {
        justify-content: center;
    }
}

/* This is the CSS for larger screens (laptops, desktops) */

@media only screen and (min-width: 1200px) {
    .left_pane {
        width: 30%; /* adjust this to what fits your design */
    }

    h1 {
        font-size: 2.5em;
        margin: 0; /* remove default margins */
        padding: 1em; /* add your own spacing */
    }

    #profile-photo {
        width: 250px;
        height: 250px;
    }

    #title {
        font-size: 1.8em;
    }

    #vertical-nav ul li {
        font-size: 1.5em;
    }
}

/* This is the CSS for smaller screens (tablets, small laptops) */

@media screen and (max-width: 1199px) and (min-width: 601px) {
    .left_pane {
        width: 40%; /* adjust this to what fits your design */
    }

    h1 {
        font-size: 2em;
        margin: 0; /* remove default margins */
        padding: 0.8em; /* add your own spacing */
    }

    #profile-photo {
        width: 200px;
        height: 200px;
    }

    #title {
        font-size: 1.5em;
    }

    #vertical-nav ul li {
        font-size: 1.3em;
    }
}

/* CSS for larger screens (laptops, desktops) 
@media screen and (max-width: 1512px) {
    h1 {
        font-size: 3em;
    }

    .left_pane {
        width: 30%;
        padding: 8em 4em 5em 4em;
    }

    #profile-photo {
        width: 200px;
        height: 200px;
    }

    #title {
        font-size: 1.2em;
    }

    #vertical-nav ul li {
        font-size: 1em;
    }
}
*/

