body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}


.left_pane {
    width: 25%;
    padding: 15em 4em 5em 4em;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.right_pane {
    width: 75%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 3em;
}

#profile-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin: 5px;
    align-self: center;
    border: none;
}

#title {
    text-align: center;
    font-size: 18px;
}

#vertical-nav ul {
    display: block;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    list-style-type: none; /* Removes bullets */
    padding: 0;
}

#vertical-nav ul li {
    font-weight: bold; /* Makes text bold */
    font-size: 1.2em; /* Increases font size */
    padding: 5px 0;
    text-decoration: none;
    color: #333;
}

#vertical-nav ul li a {
    text-decoration: none; /* Removes underline */
    color: #333; /* Changes link color to dark gray */
}

#vertical-nav ul li a:hover {
    text-decoration: underline; /* Adds underline when hovered over */
}

#social-media-handles a {
    display: inline-flex;
    text-decoration: none;
    color: #333;
    margin: .5em;
}

/* This is the new CSS for smaller screens (smartphones) */

@media screen and (max-width: 600px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .left_pane {
        width: 100%;
        padding: 2em 4em;
    }

    .right_pane {
        width: 100%;
        padding: 2em;
    }

    h1 {
        font-size: 3em;
    }

    #profile-photo {
        width: 150px;
        height: 150px;
    }

    #title {
        font-size: 18px;
    }

    #vertical-nav ul {
        padding: 0;
    }

    #vertical-nav ul li {
        font-size: 1em;
        text-align: center;
    }
}

